{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">                                         
    $(document).ready(function() {
     $("#busca").toggle(function(){
         $("#stuff").fadeOut('slow');
       },function(){
         $("#stuff").fadeIn('slow');
       });
     });
     
     $(document).ready(function() {  
    $('input[type="text"]').addClass("idleField");  
    $('input[type="text"]').focus(function() {  
        $(this).removeClass("idleField").addClass("focusField");  
        if (this.value == this.defaultValue){  
            this.value = '';  
        }  
        if(this.value != this.defaultValue){  
            this.select();  
        }  
    });  
    $('input[type="text"]').blur(function() {  
        $(this).removeClass("focusField").addClass("idleField");  
        if ($.trim(this.value == '')){  
            this.value = (this.defaultValue ? this.defaultValue : '');  
        }  
    });  
});  
</script>
<style type="text/css">
    #status{  
        width:50%;  
        padding:10px;  
        outline:none;  
        height:10px;  
    }  
    .focusField{  
        border:solid 2px #73A6FF;  
        background:#EFF5FF;  
        color:#000;  
    }  
    .idleField{  
        background:#EEE;  
        color: #6F6F6F;  
        border: solid 2px #DFDFDF;  
    }
</style>    
{% endblock script %}

{% block chamada %}Busca{% endblock %}
{% block corpo %}
    <div id="stuff">
    <h1>Busca de publicações</h1>
    <p>
        <a href="{% url catalogar %}">Inserir nova publiação</a>
    </p>
    {% if erros %}
        <ul>
            {% for erro in erros %}
            <li>{{ erro }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="get">
        <input type="text" id="status" name="q" value="{{q}}">
        <input type="submit" value="Buscar">
    </form>
    </div>
<hr>    
   
{% if pesquisa %}
    {% if publicacoes %}

        <h2>{{publicacoes|length}} 
            publicaç{{publicacoes|pluralize:"ão,ões"}} encontrada{{publicacoes|pluralize}}.</h2>
   
        <table>   
            {% for pub in publicacoes %}
                <tr>
                    <td>{{pub.id_padrao}}</td>
                    <td><a href="{% url editar pub.pk %}">{{pub.titulo}}</a></td>
            
                </tr>
            {% endfor %}
        </table>   
    {% else %}
        Nenhuma publicação encontrada com o termo '{{q}}'.
    {% endif %}   
{% endif %}   
    
{% endblock corpo %}
